@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

.navbarWrapper {
  width: 100vw;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
}

.logo{
  width: auto;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0 30px;
}

.logo p{
  color: #fff;
  font-size: 2rem;
  font-family: 'Permanent Marker', cursive;
}